<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.refinement.mapper.SysAreaMapper">

    <resultMap id="area" type="com.refinement.data.SystemAreaDO">
        <result column="id" property="id"/>
        <result column="area_name" property="areaName"/>
        <result column="area_short_name" property="areaShortName"/>
        <result column="area_code" property="areaCode"/>
    </resultMap>

    <select id="areaList" resultMap="area">
        select
          id, area_name, area_short_name, area_code
        from
          sys_area
        where
            area_type = #{areaType}
    </select>
</mapper>
